<form #form="ngForm" autocomplete="off"(submit)="onSubmit(form)">

<input type="hidden" name="ContactId" [value]="service.formData.ContactId">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"  [class.green-icon]="FirstName.valid" [class.red-icon]="FirstName.invalid && FirstName.touched"></i>
        </div>
      </div>
      <input name="FirstName" #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" placeholder="FirstName" class="form-control" required minlength="2" maxlength="50">
    </div>
  </div>
  <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-user-circle" [class.green-icon]="LastName.valid" [class.red-icon]="LastName.invalid && LastName.touched"></i>
          </div>
        </div>
        <input name="LastName" #LastName="ngModel" [(ngModel)]="service.formData.LastName" placeholder="LastName" class="form-control" required minlength="2" maxlength="50">
      </div>
    </div>
    <div class="form-group">     
      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"> <i class="fas fa-database"></i>submit</button>
    </div>
</form>